---
import BlogHeader from '../../components/BlogHeader.astro'
import BlogPostPreview from '../../components/BlogPostPreview.astro'
import Page from '../../components/Page.astro'
import PaginationNavigation from '../../components/PaginationNavigation.astro'

export async function getStaticPaths({ paginate }) {

    let allPosts = await Astro.glob('../blog/*.mdx')
    allPosts = allPosts.sort(
        (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())

    return paginate(allPosts, { pageSize: 3 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props

const title = 'Tiny Blog Example'
const description = 'A SAMPLE BLOG'

// <aside data-pagefind-ignore> is a toggle for pagefind.app to exclude the
// portion from search result, i.e. in this case to exclude the TOC from being
// shown again in the result.
---

<Page {title} {description}>

    <BlogHeader title={title} />

    <div class='flex justify-center'>
        <div class='text-lg w-5/6 lg:w-3/4'>
            <aside data-pagefind-ignore>
                <div>
                    <p class='my-6 font-semibold'>
                        {description}
                    </p>
                </div>

                {page.data.map((p) =>
                <BlogPostPreview post={p} />
                )}
            </aside>
        </div>
    </div>

    <PaginationNavigation {page} />
</Page>