---
import BlogHeader from '../../components/BlogHeader.astro'
import BlogPostPreview from '../../components/BlogPostPreview.astro'
import Page from '../../components/Page.astro'
import PaginationNavigation from '../../components/PaginationNavigation.astro'

export async function getStaticPaths({ paginate }) {

    let allPosts = await Astro.glob('../blog/*.md')
    allPosts = allPosts.sort(
        (a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf())

    return paginate(allPosts, { pageSize: 3 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props

const title = 'Tiny Blog'
const description = 'A SAMPLE BLOG'
---

<Page {title} {description}>

    <BlogHeader {title} />

    <div class='flex justify-center'>
        <div class='text-lg w-5/6 lg:w-3/4'>
            <div>
                <p class='my-6 font-semibold'>
                    {description}
                </p>
            </div>

            {page.data.map((p) =>
            <BlogPostPreview post={p} />
            )}
        </div>
    </div>

    <PaginationNavigation {page} />
</Page>